/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.react-flow__node-secretsString {
  font-size: 8px;
  font-family: 'Roboto';
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__node-secretsString .react-flow__handle-left {
  top: 8px;
  left: -10px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.react-flow__node-secretsString .react-flow__handle-right {
  top: 8px;
  right: -10px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.react-flow__node-sharpflow {
  font-size: 8px;
  font-family: 'Roboto';
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__node-sharpflow .react-flow__handle-left {
  top: 8px;
  left: -10px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.react-flow__node-sharpflow .react-flow__handle-right {
  top: 8px;
  right: -10px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.react-flow__node.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
}

.react-flow__node.circle .react-flow__handle-left {
  left: -8px;
}

.react-flow__node.circle .react-flow__handle-right {
  right: -8px;
}

.custom-node__header {
  padding: 4px 4px;
  border-bottom: 1px solid #e2e8f0;
}

.custom-node__body {
  padding: 4px;
  display: flex;
}

.custom-node__column-left {
  flex: 50%;
  text-align: left;
}

.custom-node__column-right {
  flex: 50%;
  text-align: right;
}

.custom-node__select {
  position: relative;
  margin-bottom: 5px;
}

.custom-node__select select {
  width: 100%;  
  margin-top: 0px;
  font-size: 10px;
}